.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.065em;
  line-height: 23px;
  padding: 20px 20px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  width: 90%;

  &--primary {
    border: $cp1 solid 3px;
    border-radius: 60px;
    background: $cw;
  }
  
  &--secondary {
    border-radius: 60px;
    background: $cp1;
    transition: ease all .3s;

    &:hover {
      transform: scale(1.01);
    }
  }

  &--dots {
    @include from(md) {
      position: relative;
      &::before {
        // content: url('../assets/images/components/dots.svg');
        position: absolute;
        z-index: -100;
        top: 20px;
        right: 20%;
        bottom: 0;
        transform: scale(1.4);
        cursor: initial;
      }
    }
  }
}