.how-it-works {
  margin-bottom: 100px;

  @include from(lg) {
    background: $cw;
    border-bottom-right-radius: 245px;
    box-shadow: 0px 4px 4px rgba($cb, 0.25);
  }

  &__title {
    text-align: center;
    margin-bottom: 30px;

    @include from(md) {
      margin-bottom: 60px;
      text-align: left;
      font-weight: 600;
      font-size: 72px;
      line-height: 84px;
      letter-spacing: 0.02em;
    }
  }

  &__cards {
    @include from(md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
    }

    @include from(lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__card {
    @include from(lg) {
      max-width: 335px;
    }
    
    &:not(:last-child) {
      margin-bottom: 45px;
      
      @include from(lg) {
        margin-bottom: 65px;
      }
    }

    &__box {
      align-items: center;
      background: $cp2;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 38px 20px 73px;
      box-shadow: 0px 4px 4px rgba($cb, 0.25);
      position: relative;
      margin-bottom: 56px;

      &::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        border: 5px dotted $cp3;
        top: 0;
        left: 0;
        z-index: -100;
        transform: scaleY(1.15);

        @include from(lg) {
          content: initial;
        }
      }

      &__number {
        align-items: center;
        background: $cw;
        border-radius: 50%;
        color: $cp1;
        display: flex;
        height: 72px;
        justify-content: center;
        margin-bottom: 35px;
        width: 72px;
      }

      &__text {
        text-align: center;
        white-space: nowrap;
      }
    }

    &__figcaption {
      font-size: 24px;
      line-height: 1.16;
      font-weight: 300;
      text-align: center;
      letter-spacing: 0.005em;
    }
  }
}