$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;

$bps: (
  'sm': $bp-sm,
  'md': $bp-md,
  'lg': $bp-lg,
  'xl': $bp-xl
);

@mixin from($media) {
  $min-width-bp: (map-get($bps, $media) or $media);

  @media only screen and (min-width: $min-width-bp) {
    @content;
  }
}