// Sass Utils

@import './sass-utils/mixins';
@import './sass-utils/variables';
// Base
@import './base/reset';
@import './base/typography';

// Components

@import './components/buttons';
@import './components/header';
@import './components/hero-info';
@import './components/block-info';
@import './components/block-services';
@import './components/block-aboutus';
@import './components/block-aboutus-reverse';
@import './components/double-block';
@import './components/how-it-works';
@import './components/projects';
@import './components/carousel';
@import './components/register';
@import './components/register-2';
@import './components/contact';
@import './components/footer';

// Layout

@import './layout/grid';
@import './layout/spaces';

// Pages

@import './pages/emprendedores';


// Vendors

@import './vendors/vendors';
